.parser-container {
  padding: 1rem;
  background: #111;
  color: #fff;
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  font-family: monospace;
}

.parser-textarea {
  width: calc(100% - 24px);
  height: 36vh;
  background: #222;
  color: #0f0;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #333;
  outline: none;
  resize: none;
}

.parser-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
}

.parser-error {
  color: salmon;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.parser-output {
  background: #222;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  width: calc(100% - 30px);
  height: 38vh;
}

.parser-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
