/* App-specific styles that don't fit in theme or components */

.home-button {
  position: fixed;
  padding: 4px;
  left: 12px;
  top: 12px;
  outline: none;
  z-index: 100;
}

.main-header {
  margin-bottom: 12px;
  margin-left: 40px;
}